section#about.page-section.text-center
    .container-fluid
        h1.page-section-heading.text-uppercase A Theme for Agencies &amp; Creatives
        p.lead Vitality is the perfect theme for freelance professionals and agencies.
        hr.primary.small.mb-5
        .row
            .col-md-6.col-xl-3.px-md-5.mb-4.mb-xl-0
                i.fas.fa-code.fa-4x.mb-3
                h4.text-uppercase Bootstrap 4
                p
                    | Unleash the power and flexibility of the newly released Bootstrap 4 when you choose Vitality! One framework, any device.
            .col-md-6.col-xl-3.px-md-5.mb-4.mb-xl-0
                i.fas.fa-edit.fa-4x.mb-3
                h4.text-uppercase Easy to Edit
                p
                    | Vitality is easy to edit and customize and includes SASS core files for deeper customization.
            .col-md-6.col-xl-3.px-md-5.mb-4.mb-xl-0
                i.fas.fa-mobile.fa-4x.mb-3
                h4.text-uppercase Responsive
                p
                    | In today's world where devices come in every shape and size, Vitality will responsively adapt to look great on any screen!
            .col-md-6.col-xl-3.px-md-5
                i.fas.fa-heart.fa-4x.mb-3
                h4.text-uppercase Built with Love
                p
                    | All themes by Blackrock Digital are crafted with care. Thank you for choosing Vitality and being a customer!
