section#process.page-section
    .container
        h2.page-section-heading.text-uppercase.text-center Our Process
        p.lead.m-0.text-center Here is an overview of how we approach each new project.
        hr.primary.small.mb-5
        .row
            .col-lg-4.mb-5.mb-lg-0
                //- Process Column 1
                .process-list
                    .process-list-icon
                        i.fas.fa-drafting-compass
                    .process-list-content
                        h4.text-uppercase.mb-3 Plan
                        ul
                            li Client interview
                            li Gather consumer data
                            li Create content strategy
                            li Analyze research
            .col-lg-4.mb-5.mb-lg-0
                //- Process Column 2
                .process-list
                    .process-list-icon
                        i.fas.fa-pencil-ruler
                    .process-list-content
                        h4.text-uppercase.mb-3 Create
                        ul
                            li Build wireframes
                            li Gather client feedback
                            li Application development
                            li Marketing review
            .col-lg-4
                //- Process Column 3
                .process-list
                    .process-list-icon
                        i.fas.fa-rocket
                    .process-list-content
                        h4.text-uppercase.mb-3 Launch
                        ul
                            li Deploy website
                            li Market product launch
                            li Collect user data
                            li Quarterly reporting
