section#team.page-section.text-center.bg-light
    .container
        h2.page-section-heading.text-uppercase Our Team
        p.lead.m-0
            | We are a group of digital marketers with a passion for great art that serves a practical purpose.
        hr.primary.small.mb-5
        .carousel-team
            //- Team Carousel - Item 1
            .carousel-team-item
                .carousel-team-item-content.d-flex.align-items-center.justify-content-center
                    .text-center.p-3
                        .h4.text-uppercase Patricia West
                        hr.primary.my-2
                        .mb-2 Marketing Director
                        //- Social Links
                        div
                            a.mx-1(href='#')
                                i.fab.fa-facebook.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-twitter-square.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-linkedin.fa-fw
                .overlay
                //- Team Member Image
                img.img-fluid(src='assets/img/team/1.jpg', alt='')
            //- Team Carousel - Item 2
            .carousel-team-item
                .carousel-team-item-content.d-flex.align-items-center.justify-content-center
                    .text-center.p-3
                        .h4.text-uppercase Howard Scott
                        hr.primary.my-2
                        .mb-2 Sales Manager
                        //- Social Links
                        div
                            a.mx-1(href='#')
                                i.fab.fa-facebook.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-twitter-square.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-linkedin.fa-fw
                .overlay
                //- Team Member Image
                img.img-fluid(src='assets/img/team/2.jpg', alt='')
            //- Team Carousel - Item 3
            .carousel-team-item
                .carousel-team-item-content.d-flex.align-items-center.justify-content-center
                    .text-center.p-3
                        .h4.text-uppercase Kate Williams
                        hr.primary.my-2
                        .mb-2 Creative Director
                        //- Social Links
                        div
                            a.mx-1(href='#')
                                i.fab.fa-facebook.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-twitter-square.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-linkedin.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-dribbble.fa-fw
                .overlay
                //- Team Member Image
                img.img-fluid(src='assets/img/team/3.jpg', alt='')
            //- Team Carousel - Item 4
            .carousel-team-item
                .carousel-team-item-content.d-flex.align-items-center.justify-content-center
                    .text-center.p-3
                        .h4.text-uppercase Jeremy Davidson
                        hr.primary.my-2
                        .mb-2 Web Developer
                        //- Social Links
                        div
                            a.mx-1(href='#')
                                i.fab.fa-facebook.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-twitter-square.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-linkedin.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-github.fa-fw
                .overlay
                //- Team Member Image
                img.img-fluid(src='assets/img/team/4.jpg', alt='')
            //- Team Carousel - Item 5
            .carousel-team-item
                .carousel-team-item-content.d-flex.align-items-center.justify-content-center
                    .text-center.p-3
                        .h4.text-uppercase Amy Vanderbute
                        hr.primary.my-2
                        .mb-2 Graphic Artist
                        //- Social Links
                        div
                            a.mx-1(href='#')
                                i.fab.fa-facebook.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-twitter-square.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-linkedin.fa-fw
                            a.mx-1(href='#')
                                i.fab.fa-dribbble.fa-fw
                .overlay
                //- Team Member Image
                img.img-fluid(src='assets/img/team/5.jpg', alt='')
