section#testimonials.page-section.bg-light
    .container
        .row
            .col-lg-10.mx-auto
                .carousel-testimonials
                    //- Testimonials Carousel - Item 1
                    .carousel-testimonials-item.text-center
                        .carousel-testimonials-item-content
                            .h4.text-uppercase.quote "Working with Vitality was both a valuable and rewarding experience!"
                            hr.primary.small
                            p.mb-4
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aliquid magni quam perspiciatis in. Atque facilis saepe, accusantium in voluptate doloremque neque dolores provident amet error, ipsam, voluptatibus similique quasi.
                            h6.text-uppercase.name.mb-0 Jim Walker
                            .small CEO of Company Name
                    //- Testimonials Carousel - Item 2
                    .carousel-testimonials-item.text-center
                        .carousel-testimonials-item-content
                            .h4.text-uppercase.quote "Vitality is a well coded, well documented, and easy to use theme!"
                            hr.primary.small
                            p.mb-4
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aliquid magni quam perspiciatis in. Atque facilis saepe, accusantium in voluptate doloremque neque dolores provident amet error, ipsam, voluptatibus similique quasi.
                            h6.text-uppercase.name.mb-0 Karen Jones
                            .small CEO of Company Name
