footer.footer.text-center.text-white-50
    .container
        .row
            .col-lg-4.mb-5.mb-lg-0
                h5.text-uppercase
                    i.fas.fa-mobile-alt.fa-fw
                    | Call
                a.text-white-50(href='#') 555-123-4567
            .col-lg-4.mb-5.mb-lg-0
                h5.text-uppercase
                    i.fas.fa-map-marker-alt.fa-fw
                    | Visit
                div
                    | 3481 Melrose Place
                    br
                    | Beverly Hills, CA 90210
            .col-lg-4
                h5.text-uppercase
                    i.fas.fa-envelope.fa-fw
                    | Email
                //- Make sure to change the mailto address below!
                a.text-white-50(href='mailto:mail@example.com') mail@example.com
        .footer-social
            //- Footer Social Link - Facebook
            a.px-3.text-white-50(href='#')
                i.fab.fa-facebook-f.fa-2x.fa-fw
            //- Footer Social Link - Twitter
            a.px-3.text-white-50(href='#')
                i.fab.fa-twitter.fa-2x.fa-fw
            //- Footer Social Link - LinkedIn
            a.px-3.text-white-50(href='#')
                i.fab.fa-linkedin-in.fa-2x.fa-fw
        .footer-copyright
            | &copy; 2021 Your Website
