section#portfolio-carousel
    .carousel-portfolio
        //- Portfolio Carousel - Item 1
        .carousel-portfolio-item.first-item.bg-dark.text-center.text-lg-left
            .container.h-100
                .row.h-100.align-items-center
                    .col-lg-6.col-xl-8
                        .device-wrapper.mb-3.mb-lg-0
                            .device(data-device='MacbookPro', data-orientation='portrait', data-color='black')
                                .screen
                                    //- Carousel Image
                                    img.img-fluid(src='assets/img/portfolio/carousel/item-1-img.jpg', alt='')
                    .col-lg-6.col-xl-4
                        h3.text-uppercase.m-0 Project Name
                        p.mb-0 Project Category
                        hr.primary.small.ml-lg-0.mb-4
                        a.btn.btn-outline-light(data-toggle='modal', data-target='#portfolio-modal-1', href='javascript:;')
                            | View Details
                            i.fas.fa-long-arrow-alt-right
        //- Portfolio Carousel - Item 2
        .carousel-portfolio-item.second-item.text-center.text-lg-left
            .container.h-100
                .row.h-100.align-items-center
                    .col-lg-6.col-xl-8
                        .device-wrapper.mb-3.mb-lg-0
                            .device(data-device='MacbookPro', data-orientation='portrait', data-color='black')
                                .screen
                                    //- Carousel Image
                                    img.img-fluid(src='assets/img/portfolio/carousel/item-2-img.jpg', alt='')
                    .col-lg-6.col-xl-4
                        h3.text-uppercase.m-0 Project Name
                        p.mb-0 Project Category
                        hr.primary.small.ml-lg-0.mb-4
                        a.btn.btn-outline-light(data-toggle='modal', data-target='#portfolio-modal-2', href='javascript:;')
                            | View Details
                            i.fas.fa-long-arrow-alt-right
        //- Portfolio Carousel - Item 3
        .carousel-portfolio-item.third-item.text-center.text-lg-left
            .container.h-100
                .row.h-100.align-items-center
                    .col-lg-6.col-xl-8
                        .device-wrapper.mb-3.mb-lg-0
                            .device(data-device='MacbookPro', data-orientation='portrait', data-color='black')
                                .screen
                                    //- Carousel Image
                                    img.img-fluid(src='assets/img/portfolio/carousel/item-3-img.jpg', alt='')
                    .col-lg-6.col-xl-4
                        h3.text-uppercase.m-0 Project Name
                        p.mb-0 Project Category
                        hr.primary.small.ml-lg-0.mb-4
                        a.btn.btn-outline-light(data-toggle='modal', data-target='#portfolio-modal-3', href='javascript:;')
                            | View Details
                            i.fas.fa-long-arrow-alt-right
        //- Portfolio Carousel - Item 4
        .carousel-portfolio-item.fourth-item.text-center.text-lg-left
            .container.h-100
                .row.h-100.align-items-center
                    .col-lg-6.col-xl-8
                        .device-wrapper.mb-3.mb-lg-0
                            .device(data-device='MacbookPro', data-orientation='portrait', data-color='black')
                                .screen
                                    //- Carousel Image
                                    img.img-fluid(src='assets/img/portfolio/carousel/item-4-img.jpg', alt='')
                    .col-lg-6.col-xl-4
                        h3.text-uppercase.m-0 Project Name
                        p.mb-0 Project Category
                        hr.primary.small.ml-lg-0.mb-4
                        a.btn.btn-outline-light(data-toggle='modal', data-target='#portfolio-modal-4', href='javascript:;')
                            | View Details
                            i.fas.fa-long-arrow-alt-right
