section#portfolio-grid.page-section
    .container
        .text-center
            h2.page-section-heading.text-uppercase Portfolio
            p.lead.m-0 Here are some projects that we've worked on.
            hr.primary.small.mb-5
        .row.no-gutters
            //- Portfolio Grid - Item 1
            .col-lg-6.col-xl-4
                a.portfolio-grid-item(href='assets/img/portfolio/grid/1.jpg', data-fancybox='gallery', data-caption='Caption #1')
                    span.caption
                        span.caption-content
                            h2 Project Title
                            p.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    img.img-fluid(src='assets/img/portfolio/grid/1.jpg', alt='')
            //- Portfolio Grid - Item 2
            .col-lg-6.col-xl-4
                a.portfolio-grid-item(href='assets/img/portfolio/grid/2.jpg', data-fancybox='gallery', data-caption='Caption #2')
                    span.caption
                        span.caption-content
                            h2 Project Title
                            p.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    img.img-fluid(src='assets/img/portfolio/grid/2.jpg', alt='')
            //- Portfolio Grid - Item 3
            .col-lg-6.col-xl-4
                a.portfolio-grid-item(href='assets/img/portfolio/grid/3.jpg', data-fancybox='gallery', data-caption='Caption #3')
                    span.caption
                        span.caption-content
                            h2 Project Title
                            p.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    img.img-fluid(src='assets/img/portfolio/grid/3.jpg', alt='')
            //- Portfolio Grid - Item 4
            .col-lg-6.col-xl-4
                a.portfolio-grid-item(href='assets/img/portfolio/grid/4.jpg', data-fancybox='gallery', data-caption='Caption #4')
                    span.caption
                        span.caption-content
                            h2 Project Title
                            p.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    img.img-fluid(src='assets/img/portfolio/grid/4.jpg', alt='')
            //- Portfolio Grid - Item 5
            .col-lg-6.col-xl-4
                a.portfolio-grid-item(href='assets/img/portfolio/grid/5.jpg', data-fancybox='gallery', data-caption='Caption #5')
                    span.caption
                        span.caption-content
                            h2 Project Title
                            p.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    img.img-fluid(src='assets/img/portfolio/grid/5.jpg', alt='')
            //- Portfolio Grid - Item 6
            .col-lg-6.col-xl-4
                a.portfolio-grid-item(href='assets/img/portfolio/grid/6.jpg', data-fancybox='gallery', data-caption='Caption #6')
                    span.caption
                        span.caption-content
                            h2 Project Title
                            p.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    img.img-fluid(src='assets/img/portfolio/grid/6.jpg', alt='')
