section.callout.callout-full
    .container.h-100
        .row.h-100.align-items-center.justify-content-center
            .col-xl-10.text-center
                .callout-text.text-white
                    | Good 
                    span.text-primary design
                    |  is finding that perfect balance between the way something 
                    span.text-primary looks
                    |  and how it 
                    span.text-primary functions.
                hr.primary.small.mb-5
                a.btn.btn-outline-light.js-scroll-trigger(href='#process') How we work
