header.masthead.masthead-full.text-white
    .container.h-100
        .row.h-100.align-items-center
            .col.text-center
                img.masthead-logo.mb-4(src='assets/img/logo-masthead.svg', alt='')
                .masthead-title.text-uppercase Vitality
                hr.primary.small
                .masthead-subtitle by Blackrock Digital
    .masthead-scroll
        a.masthead-scroll-btn.js-scroll-trigger(href='#about')
            i.fas.fa-angle-down
