header.masthead.masthead-partial.text-white
    .container.h-100
        .row.h-100.align-items-center
            .col.text-center
                .masthead-title.text-uppercase Vitality
                hr.primary.small
                .masthead-subtitle by Blackrock Digital
    .masthead-scroll
        .masthead-scroll-btn
            i.fas.fa-angle-down
