<footer class="footer">
  <div class="footer-info">
    <div class="container">
      <div class="row footer-info-row">
        <!-- General Info Column -->
        <div class="col-md-4 col-sm-6 footer-info-block">
          <h6>Gym City Template</h6>
          <p>
            Easily customizable HTML template for gyms, fitness centers, dance
            studios, or any other sports related clubs.
          </p>
          <a
            href="https://amaxcode.com/"
            target="_blank"
            class="btn btn-default btn-full-width btn-buy"
            >More Awesome Templates</a
          >
          <p>
            Made with <span class="love">❤</span> by
            <a target="_blank" href="https://amaxcode.com/">AmaxCode</a>
          </p>
        </div>

        <!-- Contacts Column -->
        <div class="col-md-3 col-sm-6 footer-info-block">
          <h6>Contacts</h6>

          <p>
            2121 Broadway, New York, NY 10023<br />
            1-234-567-890<br />
            1-987-654-321<br />
            <a href="#">contact@gymcity.com</a>
          </p>

          <ul class="footer-social-links">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
            <li><a href="#" class="fa fa-youtube"></a></li>
          </ul>
        </div>

        <!-- Links Column -->
        <div class="col-md-2 col-sm-6 footer-info-block">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="facilities.html">Facilities</a></li>
            <li><a href="team.html">The Team</a></li>
            <li><a href="membership.html">Membership</a></li>
            <li><a href="schedule.html">Schedule</a></li>
            <li><a href="gift-cards.html">Gift Cards</a></li>
            <li><a href="articles.html">Articles</a></li>
          </ul>
        </div>

        <!-- Instagram Column -->
        <div class="col-md-3 col-sm-6 footer-info-block">
          <h6>Instagram</h6>

          <div class="row instagram-photos">
            <div class="col-4">
              <a href="#" class="blink-on-hover">
                <img src="img/instagram-01.jpg" alt="" />
                <span class="hover-overlay"></span>
              </a>
            </div>
            <div class="col-4">
              <a href="#" class="blink-on-hover">
                <img src="img/instagram-02.jpg" alt="" />
                <span class="hover-overlay"></span>
              </a>
            </div>

            <div class="col-4">
              <a href="#" class="blink-on-hover">
                <img src="img/instagram-03.jpg" alt="" />
                <span class="hover-overlay"></span>
              </a>
            </div>
            <div class="col-4">
              <a href="#" class="blink-on-hover">
                <img src="img/instagram-04.jpg" alt="" />
                <span class="hover-overlay"></span>
              </a>
            </div>
            <div class="col-4">
              <a href="#" class="blink-on-hover">
                <img src="img/instagram-03.jpg" alt="" />
                <span class="hover-overlay"></span>
              </a>
            </div>
            <div class="col-4">
              <a href="#" class="blink-on-hover">
                <img src="img/instagram-05.jpg" alt="" />
                <span class="hover-overlay"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <i class="fa fa-copyright"></i> Copyright - Gym City Ltd.
  </div>
</footer>
